body {
    background-color: hsl(100, 50%, 50%);
    transition: background-color 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    -webkit-text-stroke: 1.5px rgb(64, 97, 64);
    -webkit-text-fill-color: transparent;
}